/* Task 1 */

body{
   
    background-color:  #ECE5C7;
}

body , html{
    margin: 0 ;
    padding: 0;
}


.line1{
    position: fixed;
    height: 100%;
    left: 21vh;
    top: 0;
    border-left: 5px solid #C7A465;
    
   
}
.line2{
    position: fixed;
    height: 100%;
    right: 21vh;
    top: 0;
    border-right: 5px solid #C7A465;
   
}

.h-line{
    
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #C7A465;
    border: none;
}
.h-position1{
     margin-top: 121px;
}

/* Task 2 */

.h-position2{
    margin-top: 721px;
}

.h-position3{
    margin-top: 165px;
}
.container{
    height: 100vh;
    width: 159vh;
    background-color: #ECE5C7;
    margin-left: auto;
    margin-right: auto;

}

.yourname{
    /* NAMAN RAI */


    position: absolute;
    width: 216px;
    height: 56px;
    left: 203px;
    top: 30px;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #C7A465;
}

.navbar{

    position: absolute;

    right: 203px;
    top: 22px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.navitem{
    float: left;
}

.navitem a{
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C7A465;

    display: block;
    text-align: center;
    padding: 40px ;
    text-decoration: none;
}

.paragraph1{
    position: absolute;
    width: 520px;
    height: 230px;
    left: 207px;
    top: 226px;
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;

    color: #C7A465;
}

.paragraph2{
    position: absolute;
    width: 1144px;
    height: 142px;
    left: 189px;
    top: 848px;

    font-family: 'Lucida Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #C7A464;
}

h2{
    position: absolute;
    width: 321px;
    height: 84px;
    left: 428px;
    top: 185px;

    font-family: 'Pacifico',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;

    color: #354259;
}

.image1{
    position: absolute;
    width: 625.71px;
    height: 564.56px;
    left: 676px;
    top: 242px;
}


/* Task 3 */

.container2{
    height: 142.3vh;
    width: 159vh;
    background-color: #ECE5C7 ;
    margin-left: auto;
    margin-right: auto;

}

.skills{
    position: absolute;
    width: 167px;
    height: 86px;
    left: 674px;

    font-family: 'Pacifico',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;
    color: #C7A465;
    padding-top: 40px;
}

.image2{
    position: absolute;
    width: 654px;
    height: 388px;
    left: 395px;
    padding-top: 55px;
  
}

.small-line{
    position: absolute;
    left: 50%;
    height: 312px;
    margin-top: 585px;
    border-left: 5px solid #C7A465;
}

.image3{
    position: absolute;
    width: 117.62px;
    height: 167.7px;
    left: 705px;
    padding-top: 912px;
}
.h-line2{
    width: 159vh;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #C7A465;
    border: none;
    bottom: 0;
}
