/* Task 1 */

body{
   
    background-color:  #ECE5C7;
}

body , html{
    margin: 0 ;
    padding: 0;
}


.line1{
    position: fixed;
    height: 100%;
    left: 21vh;
    top: 0;
    border-left: 5px solid #C7A465;
    
   
}
.line2{
    position: fixed;
    height: 100%;
    right: 21vh;
    top: 0;
    border-right: 5px solid #C7A465;
   
}

.h-line{

    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #C7A465;
    border: none;
}
.h-position1{
     margin-top: 121px;
}


/* task 2 */

.h-position2{
    margin-top: 721px;
}

.h-position3{
    margin-top: 165px;
}
.container{
    height: 120vh;
    width: 159vh;
    background-color: #ECE5C7 ;
    margin-left: auto;
    margin-right: auto;

}

.yourname{
    /* NAMAN RAI */


    position: absolute;
    width: 216px;
    height: 56px;
    left: 203px;
    top: 30px;
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #C7A465;
}

.navbar{

    position: absolute;

    right: 203px;
    top: 22px;

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}

.navitem{
    float: left;
}

.navitem a{
    font-family:'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #C7A465;

    display: block;
    text-align: center;
    padding: 40px ;
    text-decoration: none;
}

.paragraph1{
    position: absolute;
    width: 520px;
    height: 230px;
    left: 207px;
    top: 226px;
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
    line-height: 58px;

    color: #C7A465;
}

.paragraph2{
    position: absolute;
    width: 1144px;
    height: 142px;
    left: 189px;
    top: 848px;

    font-family: 'Lucida Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #C7A464;
}

h2{
    position: absolute;
    width: 321px;
    height: 84px;
    left: 428px;
    top: 185px;

    font-family: 'Pacifico',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;

    color: #354259;
}

.image1{
    position: absolute;
    width: 625.71px;
    height: 564.56px;
    left: 676px;
    top: 242px;
}



/* Task 3 */

.container2{
    height: 142.3vh;
    width: 159vh;
    background-color: #ECE5C7 ;
    margin-left: auto;
    margin-right: auto;

}

.skills{
    position: absolute;
    width: 167px;
    height: 86px;
    left: 674px;

    font-family: 'Pacifico',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;
    color: #C7A465;
    padding-top: 40px;
}

.image2{
    position: absolute;
    width: 654px;
    height: 388px;
    left: 395px;
    padding-top: 55px;
  
}

.small-line{
    position: absolute;
    left: 50%;
    height: 312px;
    margin-top: 585px;
    border-left: 5px solid #C7A465;
}

.image3{
    position: absolute;
    width: 117.62px;
    height: 167.7px;
    left: 705px;
    padding-top: 912px;
}
.h-line2{
    width: 159vh;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #C7A465;
    border: none;
    bottom: 0;
}


/* Task 4 */

h4{
    position: absolute;
    width: 120px;
    height: 59px;
    
   

    font-family: 'Lucida Fax';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;

    color: #C7A465;
}

.progress {
	height: 24px;
    position: absolute;
    width: 450.01px;

    background-color: white;
}

.progress-bar {
	background-color: #354259;

    height: 24px;
    position: absolute;
    width: 0;

	transition: width 1s ease-in-out;
	transition-delay: 1.5s;
}

.p1{
    margin-top: 635px;
    left: 225px;
}

.bar1{
    width: 98%;
}

.skill1{
    padding-top: 523px;
    left: 225px;
}


.p2{
    margin-top: 800px;
    left: 225px;
}

.bar2{
    width: 90%;
}
.skill2{
    width: 96px;
    height: 59px;
    left: 217px;
    padding-top: 694px;
}


.p3{
    margin-top: 970px;
    left: 225px;
}

.bar3{
    width: 85%;
}
.skill3{
    width: 256px;
    height: 59px;
    left: 217px;
    padding-top: 863px;
}

.p4{
    margin-top: 635px;
    right: 225px;
}

.bar4{
    width: 90%;
}
.skill4{
    padding-top: 521px;
 
    right: 552px;
  
}


.p5{
    margin-top: 800px;
    right: 220px;
}

.bar5{
    width: 80%;
}
.skill5{
    
    right: 552px;
    padding-top: 694px;
}

.p6{
    margin-top: 970px;
    right: 220px;
}

.bar6{
    width: 95%;
}
.skill6{
    right: 552px;
    padding-top: 863px;
}

.image3{
    position: absolute;
    width: 117.62px;
    height: 167.7px;
    left: 705px;
    padding-top: 912px;
}
.h-line2{
    width: 159vh;
    margin-left: auto;
    margin-right: auto;
    height: 5px;
    background-color: #C7A465;
    border: none;
    bottom: 0;
}

/* Task 5 */
.container3{
    height: 130vh;
    width: 159vh;
    background-color: #ECE5C7 ;
    margin-left: auto;
    margin-right: auto;

}
.image4{
    
    position: relative;
    width: 1200.4px;
    height: 944.67px;
    right: 20px;
    top: -180px;
}

.paraex{
    font-family: 'Maiandra GD';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-align: center !important;
}

.parap{

    position: relative;
    width: 638px;
    height: 333px;
    top: 350px;
    z-index: 500;
    display: inline;

}

.experience{
    position: absolute;
    width: 167px;
    height: 86px;
    left: 614px;

    font-family: 'Pacifico',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;
    color: #C7A465;
    margin-top: 53px;
    z-index: 500;   
}


/* Task 6 */

.image5{
    position: relative;
    left: 0%;
    top: 108.14%;
    bottom: -74.88%;
    width: 50%;
    background-color: #ECE5C7;
}

.container4{
    height: 61vh;
    width: 159vh;
    background-color: #ECE5C7 ;
    margin-left: auto;
    margin-right: auto;

}

.contact{
    position: absolute;
    width: 167px;
    height: 86px;
    left: 614px;
    font-family: 'Pacifico',cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 112px;
    color: #C7A465;
    margin-top: 110px;
    z-index: 500;   
}

.ready{
    position: relative;
width: 584px;
height: 51px;
left: 280px;
top: 243px;

font-family: 'Maiandra GD';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 48px;
text-align: center;

color: #354259;
}

.para-con{
    position: relative;
    width: 994px;
    height: 129px;
    left: 95px;
    top: 255px;

    font-family: 'Maiandra GD';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #C7A464;

}

.btn{
    position: relative;
    width: 326px;
    height: 93px;
    left: 420px;
    top: 324px;
    border-color: #C7A464;
    background: #C7A464;
    border-radius: 46.5px;
    z-index: 600;
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 90px;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.btn a{
    color: #FFFFFF;
}

